
#chado-custom-search-form .search-row {
  display: flex;
}
#chado-custom-search-form .search-row .form-item {
  flex-grow: 1;
  margin-left: 15px;
}
#chado-custom-search-form .search-row select {
  width: 100%;
}
#chado-custom-search-form #edit-submit {
  margin-left: 15px;
  margin-top: 15px;
}

#chado-custom-search-form label {
  display: block;
}

.container-inline {
  display: inline-flex;
  width: 100%;
}
.container-inline .form-item {
  flex-grow: 1;
  flex-basis: 25px;
  margin: 5px;
}
.container-inline .form-item-phenotypic-value-trait {
  flex-grow: 4;
  margin-left: 0;
}
.container-inline .form-item-phenotypic-value-units,
  .container-inline .form-item-phenotypic-value-scope {
    flex-grow: 2;
    margin-right: 0;
}

.form-item-phenotypic-value {
  margin-left: 15px;
}
.form-item-phenotypic-value .form-item-phenotypic-value-is {
  padding: 6px;
  flex-grow: 0;
  width: 15px;
}
.form-item-phenotypic-value .form-item-phenotypic-value-operator {
  flex-grow: 0;
}
.form-item-phenotypic-value .form-item-phenotypic-value-operator select {
  width: 50px;
}

/**
 * Trait Search Results
 */
#chado-custom-search-form .results {
  margin: 30px 0px;
}
#chado-custom-search-form .result-row {
  display: flex;
  border: 1px solid #E8E8E8;
  padding: 0px;
}
#chado-custom-search-form .result-row .result-row-trait {
  padding: 5px 15px;
  border-right: 1px solid #E8E8E8;
  flex: 0 0 100px;
}
#chado-custom-search-form .result-row .result-row-body {
  padding: 5px 15px;
}
#chado-custom-search-form .result-row .result-row-trait.trait1 {
  background-color: #d3d6b1; // green
}
#chado-custom-search-form .result-row .result-row-trait.trait2 {
  background-color: #e8dda9; // yellow
}
#chado-custom-search-form .result-row .result-row-trait.trait3 {
  background-color: #c5c2ce; // purple
}
#chado-custom-search-form .result-row .result-row-trait.trait4 {
  background-color: #d4dadd; // blue
}
#chado-custom-search-form .result-row .result-row-trait.trait5 {
  background-color: #dbc5c7; // red
}
