
#chado-custom-search-form .search-row {
  display: flex;
}
#chado-custom-search-form .search-row .form-item {
  flex-grow: 1;
  margin-left: 15px;
}
#chado-custom-search-form .search-row select {
  width: 100%;
}
#chado-custom-search-form #edit-submit {
  margin-left: 15px;
  margin-top: 15px;
}
