
#tqtlm-s1trait {
	margin-bottom: 20px;
}

#tqtlm-s1trait-flex {
	display: inline-flex;
	width: 100%;
}
#tqtlm-s1trait-flex .form-item-genus {
	min-width: 150px;
	width: 25%;
	margin-right: 10px;
}
#tqtlm-s1trait-flex .form-item-trait {
	width: 70%;
}

#tqtlm-s2qtl-flex {
	display: inline-flex;
	width: 100%;
}
#tqtlm-s2qtl-flex .form-item-genetic-maps {
	min-width: 150px;
	width: 25%;
	margin-right: 10px;
}
#tqtlm-s2qtl-flex .form-item-qtl {
	width: 70%;
}

.tooltip {
	display: none !important;
}
